@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
    src: url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.eot');
    src: url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'open_sansbolditalic';
    src: url('../fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot');
    src: url('../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_light_macroman/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/opensans_light_macroman/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'open_sanslightitalic';
    src: url('../fonts/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.svg#open_sansregular') format('svg');
}

